<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Required to upload your driver documents for verification.</string>
	<key>NSCameraUsageDescription</key>
	<string>Required to take photos of your driver documents for verification.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.company.carryon</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.company.carryon</string>
		</dict>
	</array>
</dict>
</plist>
